@charset "UTF-8";

/* fluid images */
img {
	max-width: 100%;
	height: auto;
}

h1,h2,div {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 0.5;
}
      
h1,h2 {
	font-size: 35px;
}

.normal {font-size: 22px;}

.crop {
/*          width: 10em;
          height: 10em;*/
	/*width: 200px;
	height: 200px;*/

    width: 400px;
    height: 350px;
	overflow: hidden;
}
.crop img {
          /*width: 25em;*/
          /*width: 100%;*/
    width: 400px;
    height: 350px;
	margin: 0px 0 0 50px;
}


/* header */
.header {

}


/* footer */
.footer {

}


.snsButton {
	float: left;
	margin: 0.5em;
}



